

.inter {
    font-family: "Inter", sans-serif;

}

.raleway {
    font-family: "Raleway", sans-serif;}

/* nav styles */

nav{
    background-image:url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    height: 698px;
    width: 698;
    list-style: none;
    
    justify-content: ;
    margin: 100px 20px 150px;
}


nav ul{
    display: flex;
    justify-content: space-between;
}


nav ul li{
    list-style: none;
    margin: 30px 50px;
    
}


nav ul li a {
    text-decoration: none;
    color: white;
    list-style: none;
    
}

.btn-primary{
    
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px 15px;
    background-color: black;
    font-size: 25px;
}

.logo {
    color:#4E47FF ;
    font-size: 34px;
    width: 700px;
}
/* main-div */

.main-div{
    margin-top:120px ;
    text-align: center

}
.main{
    font-size: 60px;
    color:#4E47FF;

}

.btn{
    font-size: 20px;
    border: 1px solid black;
    padding: 20px 20px;
    background-color: #4E47FF;
    color: white;
    border-radius: 4px;

}

.btn:hover{background-color: #322ea9;}


/* Action */

.action{
    display: flex;
    justify-content: space-between;
    margin: 30px 200px 100px 200px;
    align-items: center;
    

}


.action-right img{
    width: 400px;
    border-radius: 10px;
}

.bold{
    font-weight: bolder;
    font-size: 55px;
}
.width{
    font-size: 25px;
    font-weight: 200;
}


    .action-btn{
        border: 1px solid black;
         font-size: 25px;
        color:white;
        background-color:#4E47FF ;
        padding: 15px 20px;
        border-radius: 8px;
        box-shadow: 2px 3px 4px 2px whitesmoke;
    }


    .action-btn:hover{
    
        background-color: #0800ff;
    }

    /*productive */

    .productive{
        text-align: center;
        background-color: #F5F8FF;
        height: 400px;
        margin: 50px 0px 20px 20px;
    }

    .productive h1{
        margin-top: 30px;
    }

    .productive h1{
        font-size: 45px;
        margin-top: 15px;
    }
.productive-item{

    display: flex;
}
    .productive-1{
        width: 31.3%;
        float: left;
    
    }
    .productive-1 h1{
        font-size: 90px;
        color: #0800ff;
  
        
    }

    .productive-2 {
        width: 31.3%;
        float: left;
    
        

    }
    
    .productive-2 h1{
        font-size: 90px;
        color: #0800ff;
  
        
    }

    

        
    .productive-3{
        width: 31.3%;
        float: left;
        
        

    }

    
    .productive-3 h1{
        font-size: 90px;
        color: #0800ff;
  
       
        
        .
    }
.active{
    font-size: 20px;
    position: relative;
    top: 20px;
    width: 100;
}


/* possible*/
* Active User Section Styling */
.userSection {
    margin: 100px 150px 150px 100px;
    background-color: #E5E7FF;
    border-radius: 24px;
    text-align: center;
    padding: 50px 80px;
    box-sizing: border-box;
}

.user-title {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

.user-data-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.user-data h4 {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.user-data p {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

/* User Review Section Styling */
.user-review-section {
    margin: 116px auto 0px;
}

.review-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-bottom: 50px;
}

.review-card-container {
    display: flex;
    column-gap: 20px;
}

.review-card {
    background-color: #FAFCFF;
    box-shadow: 0 4px 4px #F2EDED;
    border-radius: 14px;
    padding: 24px;
}

.star-img {
    margin-bottom: 24px;
}

.riviewer-title {
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
    line-height: 120%;
    letter-spacing: -2%;
}

.review-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: #1E1E1E;
    margin-bottom: 24px;
}

.reviewer {
    display: flex;
    column-gap: 12px;
}

.reviewer-name {
    font-size: 16px;
    font-weight: 600;
    color: #757575;
    line-height: 140%;

}

.review-date {
    font-size: 16px;
    font-weight: 400;
    color: #B3B3B3;
    line-height: 140%;

}

